<ul class="tree">
    @foreach (var node in Nodes)
    {
        <li>
            <div class="tree-item">
                
                @if (node.Children.Any())
                {
                    <span class="toggle"
                          @onclick="() => Toggle(node)">
                        @(node.IsExpanded ? "➖" : "➕")
                    </span>
                }
                else
                {
                    <span class="toggle-empty"></span>
                }

                <input type="checkbox" @bind="node.IsChecked"/>

                <span>@node.Description</span>
            </div>

            @if (node.IsExpanded && node.Children.Any())
            {
                <Treeview Nodes="node.Children" />
            }
        </li>
    }
</ul>

<style>
    .tree {
        list-style-type: none;
        padding-left: 20px;
        position: relative;
    }

        .tree li {
            margin: 4px 0;
            padding-left: 20px;
            position: relative;
        }

            .tree li::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                border-left: 1px dotted #999;
                height: 100%;
            }

            .tree li::after {
                content: "";
                position: absolute;
                top: 12px;
                left: 0;
                width: 15px;
                border-top: 1px dotted #999;
            }

    .tree-item {
        display: flex;
        align-items: center;
        gap: 6px;
    }

    .toggle {
        cursor: pointer;
        width: 20px;
    }

    .toggle-empty {
        display: inline-block;
        width: 20px;
    }
</style>

@code {
    [Parameter]
    public List<TreeNode> Nodes { get; set; }

    void Toggle(TreeNode node)
    {
        node.IsExpanded = !node.IsExpanded;
    }



   
}

