@using ApplicationLayer.DTOs

<ul class="tree">
    @foreach (var node in Nodes)
    {
        <li>
            <div class="tree-item">
                
                @if (node.Children.Any())
                {
                    <span class="toggle"
                          @onclick="() => Toggle(node)">
                        @(node.IsExpanded ? "➖" : "➕")
                    </span>
                }
                else
                {
                    <span class="toggle-empty"></span>
                }
                @if(@IsShowCheckBox){
                <input type="checkbox" @bind="node.IsChecked" />

                }
                <span style="cursor:pointer" class="desc @(node.IsSelected ? "selected" : "")"
                      @onclick="() => OnNodeClick(node)">@node.Description</span>
            </div>

            @if (node.IsExpanded && node.Children.Any())
            {
                <Treeview Nodes="node.Children" ShowSelectButton=false IsShowCheckBox=false OnNodeSelected="OnNodeClick" />
            }
        </li>
    }
</ul>

@if (ShowSelectButton && IsShowCheckBox)
{
    <button class="btn btn-primary mt-2" @onclick="OnOkClick">
        select
    </button>
}


<style>
    .tree {
        list-style-type: none;
        padding-left: 20px;
        position: relative;
    }

        .tree li {
            margin: 4px 0;
            padding-left: 20px;
            position: relative;
        }

            .tree li::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                border-left: 1px dotted #999;
                height: 100%;
            }

            .tree li::after {
                content: "";
                position: absolute;
                top: 12px;
                left: 0;
                width: 15px;
                border-top: 1px dotted #999;
            }

    .tree-item {
        display: flex;
        align-items: center;
        gap: 6px;
    }

    .toggle {
        cursor: pointer;
        width: 20px;
    }

    .toggle-empty {
        display: inline-block;
        width: 20px;
    }

    .desc.selected {
        background-color: #cce5ff;
        border-radius: 4px;
    }

    .desc.selected {
        background-color: #0d6efd;
        color: white;
        border-radius: 6px;
        padding: 2px 6px;
    }

</style>

@code {
    [Parameter]
    public List<TreeNode> Nodes { get; set; }
    [Parameter]
    public EventCallback<List<TreeNode>> OnOk { get; set; }

    [Parameter]
    public EventCallback<TreeNode> OnNodeSelected { get; set; }

    [Parameter]
    public bool ShowSelectButton { get; set; }

    [Parameter]
    public bool IsShowCheckBox { get; set; }

    TreeNode? SelectedNode;

    void Toggle(TreeNode node)
    {
        node.IsExpanded = !node.IsExpanded;
    }

    async Task OnOkClick()
    {
        var checkedNodes = GetCheckedNodes(Nodes);

        if (OnOk.HasDelegate)
            await OnOk.InvokeAsync(checkedNodes);
    }

    async Task OnNodeClick(TreeNode node)
    {
        ClearSelection(Nodes);
        node.IsSelected = true;
        if (OnNodeSelected.HasDelegate)
            await OnNodeSelected.InvokeAsync(node);
    }

    List<TreeNode> GetCheckedNodes(List<TreeNode> nodes)
    {
        var result = new List<TreeNode>();

        foreach (var node in nodes)
        {
            if (node.IsChecked)
                result.Add(node);

            if (node.Children != null && node.Children.Any())
                result.AddRange(GetCheckedNodes(node.Children));
        }

        return result;
    }

    void ClearSelection(List<TreeNode> nodes)
    {
        foreach (var n in nodes)
        {
            n.IsSelected = false;

            if (n.Children != null && n.Children.Any())
                ClearSelection(n.Children);
        }
    }



   
}

