@page "/home"
@using ApplicationLayer.DTOs
@using ApplicationLayer.Services
@using ApplicationLayer.Services.Admin
@using Microsoft.AspNetCore.Authorization
@using Web.WebComponent
@inject IMenu menus
@attribute [Authorize]

<h1>Hello, world!</h1>

Welcome to your new app.

