@page "/menu"
@using ApplicationLayer.DTOs
@using ApplicationLayer.RequestModel.Admin
@using ApplicationLayer.Services.Admin
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Forms
@using Web.WebComponent
@inject IMenu menus
@attribute [Authorize]



<div class="row">
    <!-- left column -->
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Menu Listing</h3>
            </div>
            <div class="card-body">
                <Treeview Nodes="treeNodes" ShowSelectButton=true IsShowCheckBox=false OnNodeSelected="OnSelectedNodeClick"/>

            </div>
            <div class="card-footer">
                <button class="btn btn-primary mt-2" @onclick="AddParentClick">AddParent </button>
                <button class="btn btn-success mt-2" @onclick="AddChildClick">AddChild </button>
            </div>
        </div>


    </div>

    <div class="col-md-6">
        <div class="card card-primary">
            
            <!-- /.card-header -->
            <!-- form start -->
            <EditForm Model="menuRequest" OnValidSubmit="HandleSubmit">

                <div class="card-header">
                    <h3 class="card-title">Menu Entry</h3>
                </div>

                <div class="card-body">

                    <div class="form-group">
                        <InputText class="form-control" @bind-Value="menuRequest.Parent" placeholder="Enter ParentID" disabled="true" />
                    </div>

                    <div class="form-group">
                        <InputText class="form-control" @bind-Value="menuRequest.MenuName" placeholder="Enter Menu Name" />
                    </div>

                    <div class="form-group">
                        <InputText class="form-control" @bind-Value="menuRequest.ControllerName" placeholder="Enter Controller Name" />
                    </div>

                    <div class="form-group">
                        <InputText class="form-control" @bind-Value="menuRequest.Icon" placeholder="Enter Icon" />
                    </div>

                    <div class="form-group">
                        <InputText class="form-control" @bind-Value="menuRequest.Url" placeholder="Enter Url" />
                    </div>

                    <div class="form-group">
                        <InputNumber class="form-control" @bind-Value="menuRequest.OrderNo" placeholder="Enter Order No" />
                    </div>

                </div>

                <div class="card-footer">
                    <button type="submit" class="btn btn-warning">Save</button>
                    <button class="btn btn-secondary" @onclick=ClearControl>Cancel</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>




@code {

    List<TreeNode> treeNodes = new();
    string parentID = "";
    string menuID = string.Empty;
    MenuRequest menuRequest = new MenuRequest();


    protected override async Task OnInitializedAsync()
    {
        var menu = await menus.GetAllAsync();
        treeNodes = MapToTreeNode(menu);
    }


    async void OnSelectedNodeClick(TreeNode node)
    {
        parentID = node.ID;
        menuID = node.ID;
        var menu = await menus.GetByIDAsync(node.ID);
        menuRequest.MenuName = menu.MenuName;
        menuRequest.ControllerName = menu.ControllerName;
        menuRequest.Icon = menu.Icon;
        menuRequest.Url = menu.Url;
        menuRequest.Parent = menu.ParentId;
        menuRequest.OrderNo = Convert.ToInt32(menu.SeniorOrderNo);
        await InvokeAsync(StateHasChanged);
    }

    void AddParentClick()
    {
        parentID = string.Empty;
        menuID = string.Empty;
    }

    void AddChildClick()
    {
        menuRequest = new();
        menuRequest.Parent = parentID;
        menuID = string.Empty;

    }

    private void ClearControl()
    {
        menuRequest = new MenuRequest();
        menuID = string.Empty;
        parentID = string.Empty;
    }

   

    async Task HandleSubmit()
    {
        if (menuID != string.Empty)
        {
            var (flag, message) = await menus.UpdateAsync(menuID, menuRequest);
            if (flag)
            {
                var menu = await menus.GetAllAsync();
                treeNodes = MapToTreeNode(menu);
                ClearControl();
                await JS.InvokeVoidAsync("showAlert", "success", "Updated!", "Menu updated successfully.");
            }
            else
            {
                await JS.InvokeVoidAsync("showAlert", "error", "Failed!", message);
            }
        }
        else
        {
            var (flag, message) = await menus.AddAsync(menuRequest);

            if (flag)
            {
                var menu = await menus.GetAllAsync();
                treeNodes = MapToTreeNode(menu);
                ClearControl();
                await JS.InvokeVoidAsync("showAlert", "success", "Save!", "Menu Save successfully.");
            }
            else
            {
                await JS.InvokeVoidAsync("showAlert", "error", "Failed!", message);
            }

        }     
    }


    List<TreeNode> MapToTreeNode(List<MenuDto> menus)
    {
        return menus.Select(menu => new TreeNode
        {
            ID = menu.MenuID,
            Code = menu.ControllerName,
            Description = menu.MenuName,
            ParentID = menu.ParentId,
            Children = menu.Children != null && menu.Children.Any()
                ? MapToTreeNode(menu.Children)
                : new List<TreeNode>()
        }).ToList();
    }





}