@page "/RolePermission"
@using ApplicationLayer.DTOs
@using ApplicationLayer.RequestModel
@using ApplicationLayer.RequestModel.Admin
@using ApplicationLayer.Services.Admin
@using Microsoft.AspNetCore.Authorization
@using Web.WebComponent
@attribute [Authorize]

@inject IRole roleSerivce
@inject IMenu menus
@inject IRolePermissionService rolePermissionService


<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Role Listing</h3>
            </div>
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-md-12">
                        <Paging TItem="RoleDto"
                                Items="roleDtos"
                                PageSize="5"
                                ShowRowNumber="true"
                                EnableSearch="true"
                                ListingName="Role Listing"
                                OnDetail="Detail"
                                Columns="GridColumns">

                        </Paging>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Role Permission Detail</h3>
            </div>
            <div class="card-body">
                <input type="text" class="form-control" @bind="@RoleName" disabled="true" /> <br />
                <Treeview Nodes="treeNodes" IsShowCheckBox=true IsRoot=true OnOk="OnNodeClick" ButtonName="Save" />
            </div>
        </div>


    </div>


</div>

@code {

    List<TreeNode> treeNodes = new();
    string RoleID = string.Empty;
    string RoleName = string.Empty;


    private RoleDto roleDto = new();
    private List<RoleDto> roleDtos = new();

    private List<ColumnDefinition<RoleDto>> GridColumns = new()
    {
        new ColumnDefinition<RoleDto>
        {
            Title = "Name",
            PropertyName = nameof(RoleDto.RoleName),
            CellTemplate = e => e.RoleName
        },

    };

    private async void OnNodeClick(List<TreeNode> treeNodes)
    {

        foreach (var item in treeNodes)
        {
            RolePermissionRequest rolePermissionRequest = new RolePermissionRequest();
            rolePermissionRequest.RoleID = RoleID;
            rolePermissionRequest.MenuID = item.ID;
            rolePermissionRequest.RoleName = RoleName;
            rolePermissionRequest.IsAllowed = true;

            var (flag, message) = await rolePermissionService.AddAsync(rolePermissionRequest);
            if (!flag)
            {
                await JS.InvokeVoidAsync("showAlert", "error", "Failed!", message);
                return;
            }
            else
            {
                await JS.InvokeVoidAsync("showAlert", "success", "Saved!", "Your data has been saved.");
                roleDtos = await roleSerivce.GetAllAsync();
                StateHasChanged();
            }

        }
    }

    protected override async Task OnInitializedAsync()
    {
        roleDtos = await roleSerivce.GetAllAsync();
        var menu = await menus.GetAllAsync();
        treeNodes = MapToTreeNode(menu);
    }

    private async Task Detail(RoleDto roleDto)
    {
        RoleID = roleDto.RoleID;
        RoleName = roleDto.RoleName;

        var rolePermissionss = await rolePermissionService.GetAllAsyncByRole(RoleID);
        var menu = await menus.GetAllAsync();



        treeNodes = MapToTreeNode(menu, rolePermissionss.Where(x => x.IsAllowed)
        .Select(x => x.MenuID)
        .ToHashSet());
    }

    List<TreeNode> MapToTreeNode(List<MenuDto> menus)
    {
        return menus.Select(menu => new TreeNode
            {
                ID = menu.MenuID,
                Code = menu.ControllerName,
                Description = menu.MenuName,
                ParentID = menu.ParentId,
                Children = menu.Children != null && menu.Children.Any()
                        ? MapToTreeNode(menu.Children)
                        : new List<TreeNode>()
            }).ToList();
    }


    List<TreeNode> MapToTreeNode(List<MenuDto> menus, HashSet<string> roleMenuSet)
    {
        return menus.Select(menu => new TreeNode
            {
                ID = menu.MenuID,
                Code = menu.ControllerName,
                Description = menu.MenuName,
                ParentID = menu.ParentId,

                // ✅ check logic
                IsChecked = roleMenuSet.Contains(menu.MenuID),

                // ✅ recursive children
                Children = menu.Children != null && menu.Children.Any()
                    ? MapToTreeNode(menu.Children, roleMenuSet)
                    : new List<TreeNode>()
            }).ToList();
    }
}

}